.next/
node_modules/
.git/
.vscode/
database/

.czrc
.dockerignore
.editorconfig
.env
.env.example
.gitattributes
.gitignore
.prettierignore
.prettierrc.js
docker-compose.yml
Dockerfile
eslint.config.mjs
lefthook.yml
**/*.md
tsconfig.tsbuildinfo
